extends layout

block content
	h1= title
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione animi at, sunt corporis, aspernatur incidunt sapiente atque, blanditiis repudiandae asperiores consequatur quidem magni harum nemo obcaecati libero deleniti adipisci.
