extends layout

block content
	h1= title
	form(method="POST", action="/save")
		.form-group
			input.form-control(name="Username" placeholder="Name")
		.form-group
			input.form-control(name="EmailAddress" placeholder="Email")
		.form-group
			button.btn.btn-primary(type="submit") Thêm mới
