doctype html
html
	head
		title #{title} - FullStack Vietnam
		link(rel='stylesheet', href='/css/style.css')
	body
		main 
			.container.mt-3
				.row
					.col-sm-3
						.list-group
							a.list-group-item.list-group-item-action(href="/") Index
							a.list-group-item.list-group-item-action(href="/about") About
							a.list-group-item.list-group-item-action(href="/users") Users
							a.list-group-item.list-group-item-action(href="/form") Form
							a.list-group-item.list-group-item-action(href="/productlist") Product List
							a.list-group-item.list-group-item-action(href="/product") Product
					.col
						block content
		script(src="/js/main.js")
