extends layout

block content
	h1= title
	table.table.table-bordered
		thead
			tr 
				th tên sản phẩm
				th Giá
				th Code Sản Phẩm
		tbody
			- for(var product in data)
				tr 
					td
						a(href="/product/"+data[product].key)=data[product].ten
					td=data[product].gia
					td=data[product].code
